*{padding: 0; margin:0; box-sizing: border-box;}
p{
        font-family: 'Raleway', sans-serif;
}

.email{
    font-family: 'Raleway', sans-serif;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 0px 70px;
    background: #192a56;
    color: white;
}

header{
    
    width: 100%;
    height: 100vh;
    background: url('img/background1.jpg');
    background-size: 100% 100%;
    position: relative;
    text-align: center;
    padding-top: 4em;
    box-sizing: border-box;
}

header h1{
    font-family: 'Luckiest Guy', cursive;
    font-size: 4em;
    color: white;
    letter-spacing: 3px;
    margin-bottom: 10px;
}

header button{
    
    background: #ff0057;
    color: white;
    padding: 10px 20px;
    border:none;
    outline:none;
    text-transform: uppercase;
    letter-spacing: 5px;
    border-radius: 5px;
}

#services{
    padding: 50px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#services >div{
    flex-basis: 20%;
    text-align: center;
}

#services>div img{
    width: 30%;
} 
#services p{
    font-size: 20px;
    margin-top: 10px;
    color: grey;
}

#cards{
    padding: 50px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}